.header{
    display: flex;
    justify-content: space-between;
    
    height: 8.5vh;
}

.header__left,.header__right{
    display: flex;
    align-items: center;
}
.header__logo{
    width: 100px;
}
.header__menuicon{
    padding: 20px;
}
.header__right{
    cursor: pointer;
    margin-right: 20px;
    font-size: 25px !important;
}
.header__center{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    
}
.header__input{
    width: 50%;
    height: 32px;
padding-left: 10px;
outline: none;
border: none; 
 border: 1px solid #303030;
border-right: none;
font-size: 16px;
}
.header__btn{
    height: 33.7px;
    border-radius: 0 !important;
}
.header__searchIcon{
    /* opacity: 0.2; */
    color: white;
}