.container{
    display: grid;
  height: 100vh;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: "nav nav nav nav"
                        "sidebar main main main"
                        "sidebar main main main "
                        "footer footer footer footer";
                        grid-gap: 1rem;
                        text-transform: uppercase;
  }
  .navbar{
      background-color: chocolate;
    grid-area: nav;
  
  }
  .main{
   background-color: coral;
    grid-area: main;
  }
  .sidebar{
    background-color: cornflowerblue;
    grid-area: sidebar;
    
  }
  .footer{
    background-color: cyan;
    grid-area: footer;
  }
  /* components Css */

  .navbar{
      display: flex;
      justify-content: space-between;
  }
  .nav-links li {
      display: inline-block;
      
  }
  @media only screen and (max-width:550px){
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr ;
      grid-template-areas: "nav" "sidebar" "main" "main" "main" "main" "footer";
    }
  }