@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  overflow-x: none;
  font-size: 14px;
}
*{
  margin: 0;
  padding: 0;

}
.app{
  display: flex;
  
}
.home{
  color: #ffff;
  background-color: #181818;
}